{% extends 'base.html' %}

{% block conteudo %}
<div class="content bg-light">
    <div class="row g-1">
        <div class="col-sm-8 col-xl-4 d-flex align-items-center">
          <i class="fas fa-car fa-2x text-primary me-2"></i>
          <h5 class="mb-0">Simulação de Financiamento para Veículo</h5>
        </div>
      </div>

      <div class="container-fluid pt-5 px-4 justify-content col-xl-10">
        <div class="row g-6">
            <div class="col-sm-8 col-xl-4">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 shadow-sm">
                    <i class="fa fa-dollar-sign fa-2x text-primary"></i>
                    <div class="ms-3 text-end">
                        <p class="mb-2">Valor da Compra</p>
                        <h6 class="mb-0">R$ {{ valorCompra }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-xl-4">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 shadow-sm">
                    <i class="fas fa-dollar-sign fa-2x text-primary"></i>
                    <div class="ms-3 text-end">
                        <p class="mb-2">Valor da Entrada</p>
                        <h6 class="mb-0">{{ Entrada }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-xl-4">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 shadow-sm">
                    <i class="fa fa-dollar-sign fa-2x text-primary"></i>
                    <div class="ms-3 text-end">
                        <p class="mb-2">Valor Financiado</p>
                        <h6 class="mb-0">R$ {{ Divida }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5 px-4 justify-content col-xl-10">
        <div class="row g-6">
            <div class="col-sm-8 col-xl-4">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 shadow-sm">
                    <i class="fa fa-dollar-sign fa-2x text-primary"></i>
                    <div class="ms-3 text-end">
                        <p class="mb-2">Valor total do Financiamento</p>
                        <h6 class="mb-0">R$ {{ ValorTotal }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-xl-4">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 shadow-sm">
                    <i class="fas fa-university fa-2x text-primary"></i>
                    <div class="ms-3 text-end">
                        <p class="mb-2">Valor total de juros</p>
                        <h6 class="mb-0">R$ {{ ValorJuros }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-xl-4">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 shadow-sm">
                    <i class="fa fa-chart-area fa-2x text-primary"></i>
                    <div class="ms-3 text-end">
                        <p class="mb-2">Taxa Aplicada</p>
                        <h6 class="mb-0">{{ Taxa }} Mês</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="container-fluid pt-5 px-4 justify-content col-xl-10 ">
    <div class="row g-5">
        <div class="col-sm-8 col-xl-4">
            <div class="bg-light rounded h-100 p-4 shadow-sm">
                <h6 class="mb-4">Valor Total x Juros </h6>
                <canvas id="pie-chart"></canvas>
            </div>
          </div>
          <div class="col-sm-8 col-xl-4">
            <div class="bg-light rounded h-100 p-4 shadow-sm">
                <h6 class="mb-4">Valor Parcela x Juros</h6>
                <canvas id="pie-chart2"></canvas>
            </div>
          </div>
      <div class="col-sm-6 col-xl-4">
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 shadow-sm mb-4">
            <i class="fas fa-coins fa-2x text-primary"></i>
            <div class="ms-3 text-end">
                <p class="mb-2">Valor Parcela</p>
                <h6 class="mb-0">R$ {{ valorParcela }}</h6>
            </div>
        </div>
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 shadow-sm mb-4">
            <i class="fa fa-chart-area fa-2x text-primary"></i>
            <div class="ms-3 text-end">
                <p class="mb-2">Qtde Parcelas</p>
                <h6 class="mb-0">{{ qtdeParcelas }}</h6>
            </div>
        </div>
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4 shadow-sm mb-4">
            <i class="fas fa-calendar fa-2x text-primary"></i>
            <div class="ms-3 text-end">
                <p class="mb-2">Previsão da Quitação</p>
                <h6 class="mb-0">{{ DataFinal }}</h6>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

<script>
    var ctx3 = document.getElementById('line-chart');
    const total = ConverterArray("{{ ValorTotal }}")
    const juros = ConverterArray("{{ ValorJuros }}")

    var ctx5 = document.getElementById('pie-chart');
    var myChart5 = new Chart(ctx5, {
        type: "pie",
        data: {
            labels: ["Total", "Juros"],
            datasets: [{
                backgroundColor: [
                    "rgb(30,144,255)",
                    "#1c3767"
                ],
                data: ["{{ ValorTotalSemJuros }}", "{{ ValorJuros }}"]
            }]
        },
        options: {
            responsive: true
        }
    });

    var ctx6 = document.getElementById('pie-chart2');
    var myChart6 = new Chart(ctx6, {
        type: "pie",
        data: {
            labels: ["Juros", "Parcelas"],
            datasets: [{
                backgroundColor: [
                    "#1c3767",
                    "rgba(30,144,255)"
                ],
                data: ["{{ valorParcela }}" - "{{ ValorParcelaSemJuros }}","{{ ValorParcelaSemJuros }}"]
            }]
        },
        options: {
            responsive: true
        }
    });


    function ConverterArray(array){
      const trimmedValues = array.slice(1, -1);
      const Valores = trimmedValues.split(',').map(value => parseFloat(value));

      return Valores.map(item => String(item));
    }

    function criarArray(numero) {
      var array = [];
      for (var i = 1; i <= numero; i++) {
        array.push(i);
      }
    return array;
  }
</script>

{% endblock %}
